<div>
<mat-toolbar color="white">
    <mat-toolbar-row>
        <button mat-icon-button aria-label="menu">
            <mat-icon (click)="handleDrawer()" svgIcon="menu-icon"></mat-icon>
            </button>
        <img class="keep-pic" src="assets/Images/keep.png">
        <p class="head-text">Fundoo</p>
        <div class="middle-section">
         <button mat-icon-button aria-label="search">
          <mat-icon svgIcon="search-icon"></mat-icon>
          </button>
          <input type="text"  [(ngModel)]="searchString" (input)="handleSearchString()" class="search-input" placeholder="Search...">
        </div> 
      <button mat-icon-button aria-label="refresh">
     <mat-icon svgIcon="refresh-icon"></mat-icon>
     </button>
     <button mat-icon-button aria-label="list">
    <mat-icon svgIcon="list-icon"></mat-icon>
     </button>
    <button mat-icon-button aria-label="settings">
       <mat-icon svgIcon="setting-icon"></mat-icon>
         </button>
         <div class="header-apps-cnt">
    <button mat-icon-button aria-label="apps">
        <mat-icon svgIcon="apps-icon"></mat-icon>
    </button>
   
        <!-- <span class="google_icon">NK</span> -->

        <button mat-icon-button  [matMenuTriggerFor]="icon">
            <mat-menu #icon="matMenu">
                <button mat-menu-item>Logout</button>
            </mat-menu>
            <span class="google_icon">NK</span>
          </button>
    </div>

    </mat-toolbar-row>
</mat-toolbar>

</div>

    

